{% from "macros.html" import render_field_bootstrap %}

{% extends "base.html" %}

{% block title %}
StellarRobot
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Stellar Username: {{ account.stellar_name }}</h3>
        <p>Stellar Address: {{ account.stellar_address }}</p>
        <p>
        This is your unique address to send Stellars to:<p>
        <div style="margin:20px 20px;">
            <span class="label label-success" style="font-size:30px;">{{ send_to }}</span>
        </div>

    </div>
{% endblock %}