{% from "macros.html" import render_field_bootstrap %}

{% extends "base.html" %}

{% block title %}
StellarRobot
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Stellar Username: {{ account.stellar_name }}</h3>
        <p>Stellar Address: {{ account.stellar_address }}</p>
        <p>
        This is your unique address to send Stellars to:<p>
        <div style="margin:20px 20px;">
            <span class="label label-success" style="font-size:30px;">{{ send_to }}</span>
        </div>

        <br>
        <br>
        <h3>Received Payments</h3>
        {% for item in received %}
        <p>{{ item.created_time }} {{ item.amount_sender }}</p>
        {% endfor %}
        <br>
        <h3>Sent Payments</h3>
        {% for item in payments %}
        <p>{{ item.created_time }} {{ item.amount_fulfilled }}</p>
        {% endfor %}

    </div>
{% endblock %}