{% from "macros.html" import render_field_bootstrap %}

{% extends "base.html" %}

{% block title %}
StellarRobot
{% endblock %}

{% block content %}
    <div id="middle">
        <div class="container">

            <div class="account_summary">
                <h2>Account Summary</h2>
                <table class="table table-summary">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ account.stellar_name }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{ account.stellar_address }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="instructions">
                <h2>Next Step</h2>
                <p>Visit <a href="https://www.stellar.org/" target="_blank">Stellar.org</a> and send stellars to the address generated for your account below.</p>
                <p class="smaller_text">Make sure your account qualifies for the <a href="http://i.imgur.com/3ERb6w0.jpg" target="_blank">matching first send bonus</a>.</p>
            </div>

            <div class="destination_address">
                <span>{{ send_to }}</span>
            </div>



            <div class="transactions">
                <h2>Transactions</h2>

                <div class="received_payments">
                <h4>Received Payments</h4>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in received %}
                        <tr>
                            <td>{{ moment(item.date).format('lll') }}</td>
                            <td>{{ item.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>

                <div class="sent_payments">
                <h4>Sent Payments</h4>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in payments %}
                        <tr>
                            <td>{{ moment(item.date).format('lll') }}</td>
                            <td>{{ item.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>



            </div>


        </div>
    </div>
{% endblock %}